@charset "utf-8";
/* CSS Document */

.navbar-default{
	background-color: #6A7C80;
	border: 0px;
	margin-bottom: 0px;
}

.navbar{
	border-radius: 0px;
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #FF8000;
}


.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: #FF8000;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}


.carousel-caption{
	background-color: rgba(245,122,0,0.85);
	margin-bottom: 60px;
		
}




.espacio{
	margin-top: 40px;
	margin-bottom: 50px;
	
}





.pie01{
	background-color: #6A7C80;
	color:#FFFFFF;
	margin-top: 60px;
}

.pie01 a{
	color: #000000
}

.pie01 a:hover{
	color: #293032;
}

.pie02{
	background-color: rgba(0,0,0,1.00);
	color:#FFFFFF;
	padding-top: 20px;
	padding-bottom: 20px;
	

}



















@media only screen and (max-width: 750px){
	
	.carousel-caption{
		
		background-color: #FF8000;
	}
}







/*Estilo de los titulos*/


#titulo{
	width: 100%;
	background-color: #FF8000;
	height: 130px;
	background-image: url(../imag/inicio/acercade_1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: table;
}



.subtitulo{
	color: #FFFFFF;
	margin: auto;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
























